
language: java

# Java 6 must be installed explicitly: https://github.com/travis-ci/travis-ci/issues/8199
addons:
  apt:
    packages:
      - openjdk-6-jdk

jdk:
  - openjdk6

script:
  ./gradlew clean build jacocoTestReport --info

after_success:
  - bash <(curl -s https://codecov.io/bash)
  